<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
   
   </head>
     
    <h1>Caragua. na crista da onda</h1>
<body>       
   <div id="login">
    <% if (locals.errorMessage) { %>
        <p class="error-message">
            <%= errorMessage %>
        </p>
    <% } %>
    

        <form action="/autenticacao/login" method="post" class="card">

            <div class="card-header">

                <h2>Login</h2>

            </div>

            <div class="card-content">

                <div class="card-content-area">

                    <label for="usuario">Usuário</label>

                    <input type="text" id="usuario" name="usernameOrEmail" autocomplete="off">

                </div>

                <div class="card-content-area">

                    <label for="password">Senha</label>

                    <input type="password" id="password" name="password" autocomplete="off"maxlength="10">

                </div>

            </div>

            <div class="card-footer">

                <input type="submit" value="login" class="submit">

                <a href="#" class="recuperar_senha">Esqueceu a senha?</a><br>
                
                <a href="/usuarios/cadastrar">Cadastrar</a>
            
            </div>

        </form>

    </div>
    
   

</html>