<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style7.css">
    <title>Quadrado de Pontos</title>
</head>
<body>
    <div class="header">
        <div class="header1">
            <button onclick="startGame()">Iniciar Jogo</button>
        </div>
        <div class="header2">
            <p class="p">Pontuação: <span id="score">0</span></p>
        </div>
        <div class="header3">
            <p class="p">Comandos aumentar velocidade (+) diminuir velocidade (-) direção (←) (↑) (↓) (→)</p>
        </div>
    </div>
    
    <div class="grid" id="grid"></div>

    <script src="/script.js"></script>
</body>
</html>
