<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyApp</title>
    <link rel="stylesheet" href="stylesheets/style.css">

</head>

<body>
    <% if (user) { %>
        <h1>Bem-vindo, <%= user.username %>!</h1>
        <form action="/autenticacao/logout" method="POST">
            <input type="submit" value="Sair">
        </form>
        <% } else { %>
            <p>
                <a href="/autenticacao/login">Entrar</a>
            </p>
            <p>
                <a href="/usuarios/cadastrar">Cadastrar Usuário</a>
            </p>

            <p>
                <a href="/produtos/cadastrar">Cadastrar Produto</a>
            </p>

            <% } %>
</body>

</html>