<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/imagens">
    <title>Página Empresa</title>

</head>

<body>
    <header>
        <div class="container-1">
            <div class="card-header">
                <div class="header-banner">
                    <div class="header-3-1">
                      <img src="/imagens/imagem1.jpg" alt="Imagem 1" class="banner-image">
                      <img src="/imagens/imagem2.jpg" alt="Imagem 2" class="banner-image">
                      <img src="/imagens/imagem3.jpg" alt="Imagem 3" class="banner-image">
                      <img src="/imagens/imagem4.jpg" alt="Imagem 4" class="banner-image">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-1-1">
            <div class="card-header-1">
                <div class="container-2-1">
                    <div class="logo-header">
                        <h1>
                            Sua Empresa
                        </h1>
                    </div> 
                    <div class="inter"></div>
                    <div class="page-header-2-2">
                        <ul class="nav">
                                <a class="href" href="/"><button class="btnav">Bonecas</button></a>
                                <a class="href" href="/loja/loja1"><button class="btnav">Almofadas</button></a>
                                <a class="href" href="/loja/loja2"><button class="btnav">Produto</button></a>
                        </ul>
                    </div>
                </div>
            </div>           
        </div>
    </header>
    <main>
        <div class="container-2">
            <section class="produto">
                <div class="produto-card">
                    <img src="/imagens/imagem30.jpg" alt="Produto 1">
                    <div class="produto-preco">
                        <p>Boneca bordada Fofura.</p>
                        <p>R$ 17,00</p>
                        <a href="#"><p>Comprar</p></a>
                    </div>
                </div>
                <div class="produto-card">
                    <img src="/imagens/imagem31.jpg" alt="Produto 2">
                    <div class="produto-preco">
                        <p>Boneca bordada Fofura.</p>
                        <p>R$ 17,00</p>
                        <a href="#"><p>Comprar</p></a>
                    </div>
                </div>
                <div class="produto-card">
                    <img src="/imagens/imagem32.jpg" alt="Produto 3">
                    <div class="produto-preco">
                        <p>Boneca bordada Fofura.</p>
                        <p>R$ 17,00</p>
                        <a href="#"><p>Comprar</p></a>
                    </div>
                </div>
                <div class="produto-card">
                    <img src="/imagens/imagem33.jpg" alt="Produto 4">
                    <div class="produto-preco">
                        <p>Boneca bordada Fofura.</p>
                        <p>R$ 17,00</p>
                        <a href="#"><p>Comprar</p></a>
                    </div>
                </div>
                <div class="produto-card">
                    <img src="/imagens/imagem34.jpg" alt="Produto 5">
                    <div class="produto-preco">
                        <p>Boneca bordada Fofura.</p>
                        <p>R$ 17,00</p>
                        <a href="#"><p>Comprar</p></a>
                    </div>
                </div>
                <div class="produto-card">
                    <img src="/imagens/imagem35.jpg" alt="Produto 6">
                    <h3>Produto novos</h3>
                    <p>Produto de alta qualidade.</p>
                </div>
                <div class="produto-card">
                    <img src="/imagens/imagem36.jpg" alt="Produto 7">
                    <div class="produto-preco">
                        <p>Boneca bordada Fofura.</p>
                        <p>R$ 17,00</p>
                        <a href="#"><p>Comprar</p></a>
                    </div>
                </div>
                <div class="produto-card">
                    <img src="/imagens/imagem37.jpg" alt="Produto 8">
                    <div class="produto-preco">
                        <p>Boneca bordada Fofura.</p>
                        <p>R$ 17,00</p>
                        <a href="#"><p>Comprar</p></a>
                    </div>
                </div>
                <div class="produto-card">
                    <img src="/imagens/imagem37.jpg" alt="Produto 9">
                    <div class="produto-preco">
                        <p>Boneca bordada Fofura.</p>
                        <p>R$ 17,00</p>
                        <a href="#"><p>Comprar</p></a>
                    </div>
                </div>
                <div class="produto-card">
                    <img src="/imagens/imagem38.jpg" alt="Produto 9">
                    <div class="produto-preco">
                        <p>Boneca bordada Fofura.</p>
                        <p>R$ 17,00</p>
                        <a href="#"><p>Comprar</p></a>
                    </div>
                </div>
            </section>
            <h1>Protótipo.</h1>
        </div>
    </main>
    <footer>
        <div class="container-3">
            <div class="footer">
                <div class="column">
                    <h3>Contatos</h3>
                    <ul>
                        <li>Telefone: (12) 99148-5333</li>
                        <li>Telefone: (12) 97812-2063<a href="https://web.whatsapp.com/55 12 9975910549/"><img
                                    src="/images/whatsapp.png" class="f"></a></li>
                        <li>Email: litoralnortesoftware@hotmail.com</li>
                        <li>Gmail: litoralnortesoftware@gmail.com</li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Endereço</h3>
                    <ul>
                        <li>litoralnortesoftware:</li>
                        <li>Rua Rrrrrrr, Nº 4555</li>
                        <li>Bairro Bbbbbbb</li>
                        <li>Caraguattuba - São Paulo, CEP 11674-760</li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Links Rápidos</h3>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sobre Nós</a></li>
                        <li><a href="#">Serviços</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Política de Privacidade</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3>Redes Sociais</h3>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                        </ul>
                </div>
            </div> 
            <div class="footer-bottom">
            < / > &copy;2024 litoralnortesoftware: Todos os direitos reservados.
            </div>
        </div>
    </footer>
</body>

</html>