<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Usuário</title>
</head>

<body>
    <h1>Cadastrar Usuário</h1>

    <form method="post" action="/usuarios/cadastrar">
        <div>
            <label for="name">Nome</label>
            <input type="text" id="name" name="name">
        </div>

        <div>
            <label for="username">Apelido</label>
            <input type="text" id="username" name="username">
        </div>

        <div>
            <label for="birthDate">Data de Nascimento</label>
            <input type="date" id="birthDate" name="birthDate">
        </div>

        <div>
            <label for="password">Senha</label>
            <input type="password" id="password" name="password">
        </div>

        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email">
        </div>

        <div>
            <label for="sex">Sexo</label>
            <select id="sex" name="sex">
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
                <option value="Outro">Outro</option>
                <option value="Prefiro não responder">Prefiro não responder</option>
            </select>
        </div>

        <div>
            <input type="submit" value="Cadastrar">
        </div>
    </form>

    <ul>
        <li><a href="/usuarios">Lista de Usuários</a></li>
    </ul>
</body>

</html>