<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produtos</title>
</head>

<body>
    <h1>Cadastrar Produtos</h1>

    <form method="post" action="/produtos/cadastrar">
        <div>
            <label for="name">Nome</label>
            <input type="text" id="name" name="name">
        </div>

        <div>
            <label for="codigo">Codigo</label>
            <input type="text" id="codigo" name="codigo">
        </div>

        <div>
            <label for="categoria">categoria</label>
            <input type="text" id="categoria" name="categoria">
        </div>

        <div>
            <label for="preco">Preço</label>
            <input type="numero" id="preco" name="preco">
        </div>

        <div>
            <label for="quantidade">Quantidade</label>
            <input type="numero" id="quantidade" name="quantidade">
        </div>

        <div>
            <label for="status">Status</label>
            <select id="status" name="status">
                <option value="Ativo">Ativo</option>
                <option value="Inativo">Inativo</option>
            </select>
        </div>

        <div>
            <input type="submit" value="Cadastrar">
        </div>
    </form>

    <ul>
        <LI><a href="/">Home</a></LI>
        <li><a href="/produtos">Lista de Produtos</a></li>
    </ul>
</body>

</html>